[Unit]
Description=NodeJS App

[Service]
ExecStart=/node/index.js
Restart=always
User=nobody
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/node

[Install]
WantedBy=multi-user.target