[Desktop Entry]
Version=1.0
Name=NASA GMAT
GenericName=NASA GMAT
Comment=General Mission Simulation Tool
Exec=
Icon=
Terminal=true
Type=Application
MimeType=
StartupNotify=true
Categories=
X-Desktop-File-Install-Version=0.21
